<html>
<head>
	<title>查詢</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
	<header class="top">
		<h1>選課系統</h1>
	</header>

	<nav>
		<ul>
			<li><a href={{ url_for('index') }}>首頁</a></li>
			<li><a href={{ url_for('lookup') }}>查看</a></li>
		</ul>
	</nav>
<div class="flex-container" id="outter">
	<div class="item" id="left">
	<div class="flex-container" id="inner">
    	<div class="item" id="leftContent">
			<div id="ctl00_LoginPanel" dir="ltr" style="overflow:auto;text-align:left;">
			<fieldset>
				<legend>
					學生資訊
				</legend>
				<table class="styleFull">
						<tbody><tr>
							<td class="style1">
								<span id="ctl00_userInfo1_LabelStuID">學號：</span>
							</td>
							<td>
								<span id="ctl00_userInfo1_lblStuID">{{ Student[1] }} </span>
							</td>
						</tr>
						<tr>
							<td class="style1">
								<span id="ctl00_userInfo1_LabelName">姓名：</span>
							</td>
							<td>
								<span id="ctl00_userInfo1_lblName">{{ Student[0] }} </span>
							</td>
						</tr>
						<tr>
							<td class="style1">
								<span id="ctl00_userInfo1_LabelClass">班級：</span>
							</td>
							<td>
								<span id="ctl00_userInfo1_lblClass">{{ Student[2] }} </span>
							</td>
						</tr>
						</tbody></table>

					<table class="styleFull">
						<tbody>
							<tr>
							<td>
								<form method="POST" action="{{ url_for('logout') }}">
									<input type="submit" name="$btnLogout" value="登出" id="btnLogout">
								</form>
							</td>
						</tr>
						</tbody>
					</table>
			</fieldset>
			</div>
		</div>
		<div class="item"  id="mytable">
			<h3>關注/已選課表</h3>
			<table  class="table table-striped table-hover">
				<thead>
				<tr>
					<th scope="col">&nbsp;</th>
					<th scope="col">一</th>
					<th scope="col">二</th>
					<th scope="col">三</th>
					<th scope="col">四</th>
					<th scope="col">五</th>
					<th scope="col">六</th>
					<th scope="col">日</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>

				</tr>
				<tr>
					<td>2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fataaaaaaaa</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>


				</tr>
				<tr>
					<td>3</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fataaaaaaaa</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>

				</tr>
				<tr>
					<td>4</td>

				</tr>
				<tr>
					<td>5</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fataaaaaaaa</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>

				</tr>
				<tr>
					<td>6</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fataaaaaaaa</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>

				</tr>
				<tr>
					<td>7</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fataaaaaaaa</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>

				</tr>
				<tr>
					<td>8</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fataaaaaaaa</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>

				</tr>
				<tr>
					<td>9</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fataaaaaaaa</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>
					<td>@mdo</td>

				</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	<div class="item" id="right">
		<div class="flex-container" id="inner">
			<div class="item" id="choice">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
				  <li class="page-item"><button class="page-link" id="btn1">可選課列表</li>
				  <li class="page-item"><button class="page-link" id="btn2">全部課列表</a></li>
				</ul>
			</nav>
			<br>
			</div>
			<div id="section1">
			<div class="item" id="search">
				<form method="POST" action="{{ url_for('search') }}">
					<fieldset>
						<legend>
							請輸入選課代碼：
						</legend>
					<input type="text" id="code" name="code">
					<button type="submit" id="search">查詢</button>
					</fieldset>
				</form>
			</div>
			<div class="item" id="Mysearch" style="display:none;">
				<!--放查詢的資訊-->
				{% if course_info %}	<!--如果有查到該課表-->
					<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">&nbsp;</th>
							<th scope="col">課號</th>
							<th scope="col">課程名稱</th>
							<th scope="col">開課系所</th>
							<th scope="col">年級</th>
							<th scope="col">必/選修別</th>
							<th scope="col">修課人數上限</th>
							<th scope="col">目前選修人數</th>
							<th scope="col">開課時段</th>
						</tr>
					</thead>
					<tbody>
						{% for row in available_courses %}
						<tr>
							<td id="selClass">
								<form action="{{ url_for('selection') }}" method="POST">
									<input type="button" name="function" value="關注" id="{{ row[16] }}">
								</form>
							</td>
							<td>{{ row[0] }}</td>
							<td>{{ row[1] }}</td>
							<td>{{ row[1] }}</td>
							<td>{{ row[1] }}</td>
							<td>{{ row[0] }}</td>
							<td>{{ row[1] }}</td>
							<td>{{ row[1] }}</td>
							<td>{{ row[1] }}</td>
						</tr>
                        {% endfor %}
					</tbody>
					</table>
				{% else %}
					<p>沒有找到該課程!</p>
				{% endif %}
			</div>
			<div class="item" id="content">
				<!--<h3>可加選列表</h3>-->
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">&nbsp;</th>
							<th scope="col">選課代碼 </th>
							<th scope="col">課程名稱</th>
							<th scope="col">開課班級</th>
							<th scope="col">學分</th>
							<th scope="col">必/選修</th>
							<th scope="col">開課單位</th>
							<th scope="col">修課人數上限</th>
							<th scope="col">目前選修人數</th>
							<th scope="col">授課教授</th>
							<th scope="col">上課地點</th>
							<th scope="col">上課星期</th>
							<th scope="col">開課時段</th>
							<th scope="col">開課時段</th>

						</tr>
					</thead>
					<tbody><!--show出所有可以選的課-->
						{% for courses in available_courses %}
						<tr>
							<td id="selClass">
								<form action="{{ url_for('add') }}" method="POST">
									{% if courses[16] == 4 %}
									<input type="button" name="function" value="已加選" id="0000"><!--課號-->
									{%endif%}
									<input type="button" name="function" value="加選" id="{{ courses[0] }}"><!--課號-->
								</form>
							</td>
				
							{% for cour in courses %}
						
							{% if loop.index != 4 and loop.index != 5 and loop.index != 12 and loop.index != 17 %}
							<td>{{ cour }}</td>
							{%endif%}
				
		                    {% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			</div>
			<!--另一個按鍵-->
			<div id="section2" style="display:none;">
			<div class="item" id="mytotal">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">&nbsp;</th>
							<th scope="col">選課代碼 </th>
							<th scope="col">課程名稱</th>
							<th scope="col">開課班級</th>
							<th scope="col">學分</th>
							<th scope="col">必/選修</th>
							<th scope="col">開課單位</th>
							<th scope="col">修課人數上限</th>
							<th scope="col">目前選修人數</th>
							<th scope="col">授課教授</th>
							<th scope="col">上課地點</th>
							<th scope="col">上課星期</th>
							<th scope="col">開課時段</th>
							<th scope="col">開課時段</th>

						</tr>
					</thead>
					<tbody><!--show出所有的課-->
						{% for row in courses %}
						<tr>
							<td id="selClass">
								<form action="{{ url_for('add') }}" method="POST">

									<input type="button" name="function" value="關注" id="{{ row[0] }}"><!--課號-->
								</form>
							</td>
							{% for cour in row %}
						
							{% if loop.index != 4 and loop.index != 5 and loop.index != 12 and loop.index != 17 %}
							<td>{{ cour }}</td>
							{%endif%}
				
		                    {% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			</div>
		</div>
	</div>
</div>

<script>
	const btn1 = document.getElementById('btn1');
	const btn2 = document.getElementById('btn2');
	const search = document.getElementById('search');
	const section1 = document.getElementById('section1');
	const section2 = document.getElementById('section2');
	const Mysearch = document.getElementById('Mysearch');

	btn1.addEventListener('click', function() {
	// 顯示區域1，隱藏區域2
	section1.style.display = 'block';
	section2.style.display = 'none';
	});

	btn2.addEventListener('click', function() {
	// 顯示區域2，隱藏區域1
	section2.style.display = 'block';
	section1.style.display = 'none';
	});

	btn1.addEventListener('click', function() {
	section1.style.display = 'block';
	section2.style.display = 'none';
	});

	search.addEventListener('click', function() {
	Mysearch.style.display = 'block';
	});
</script>
</body></html>
