body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: left;
}

h1 {
	margin: 0;
}


nav {
	background-color: #ccc;
	padding: 10px;
	text-align: left;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: left;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #333;
	text-decoration: none;
	padding: 5px;
}

nav a:hover {
	background-color: #333;
	color: #fff;
}
.container{
	width: 300px;
	margin: 50px auto;
	text-align: center;
	border: 1px solid #ccc;
	padding: 20px;
}
button{
	border-radius:10px;
	cursor:pointer;
}
button:hover{
	color:#333;
	background-color:#fff;
	border:2px #333 solid;
  }
#outter {
	display: flex;
	/*height: 300px;
	padding: 10px;
	background-color: #526E89;*/
	flex-direction:row;
}
#outter div{
	margin-left: 15px;
}
#inner{
	display: flex;
	flex-direction:column;
}
#inner div{
	margin-top: 10px;
}
#leftContent,#mytable{
    width: 250px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 100%;
    text-align: left;
    top: 150px;
    margin-top: 0px;
    left: 50px;
   padding: 10px;
}
#content{
	text-align: left;
    margin-left: 300px;
    padding: 10px;
}

#Enter{
	display: block;
	padding-left: 50px;
    padding-right: 970px;
}

fieldset {
    -webkit-margin-end: 2px;
    -webkit-margin-start: 2px;
    -webkit-padding-after: 2px;
    -webkit-padding-before: 2px;
    -webkit-padding-end: 2px;
    -webkit-padding-start: 2px;
    border: 2px groove threedface;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

#mytable table{
	width:110%;
	table-layout: fixed;
	font-size:10%;
  }

#selectedtb
{
	display: flex;
	flex-direction:column;
	padding-top: 10px;
    padding-left: 150px;
    padding-right:150px;
}