<!DOCTYPE html>
<html>
<head>
	<title>登入</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<header class="top">
		<h1>選課系統</h1>
	</header>
	<div class="container">
		<h2>學生登入</h2>
		<form action={{url_for("login")}} method="POST">
		  <div class="form-group">
			<label for="student-id">學號:</label>
			<input type="text" id="student-id" name="student-id" required>
		  </div>
		  <div class="form-group">
			<label for="password">密碼:</label>
			<input type="password" id="password" name="password" required>
		  </div>
		  <button type="submit">登入</button>
		</form>
	</div>
</body>
</html>